<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"	destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		
		<!--下面是数据库的信息  -->
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/musiclibrary?useUnicode=true&amp;characterEncoding=UTF-8&amp;allowMultiQueries=true"/>
		<property name="user" value="demo0622"/>
		<property name="password" value="0622"/>
		<property name="maxPoolSize" value="40"/>
		<property name="minPoolSize" value="1"/>
		<property name="initialPoolSize" value="1"/>
		<property name="maxIdleTime" value="20"/>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />  
		<property name="configLocation" value="classpath:mybatis-cfg.xml"/>  
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">   
	<property name="basePackage" value="com.iss.dao"/>   
	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>  
	
</beans>
