html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body{
	background-image: url(../img/背景图.jpg);
	background-size: 100%;
}
#main-container{
	width: 60%;
	height: 100%;
	/*background-color:burlywood;*/
	margin: auto;
}

#player-container{
	width: 180px;
	height:180px;
	background-color:azure;
	margin: auto;
	border-radius: 50%;
}

#player-wrap{
	position: relative;
}

.navigation{
	width: 110px;
	height: 110px;
	position: absolute;
	background-color: azure;
	border-radius: 50%;
	line-height: 110px;
	text-align: center;
	cursor: pointer;
	transition: background-color 1s;
	
	margin-left: 35px;
	margin-top: 35px;
}

.player-btn{
	width: 60px;
	height: 60px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	line-height: 110px;
	text-align: center;
	cursor: pointer;
	transition: background-color 1s;
	
	margin-left: 60px;
	margin-top: 60px;
}

.navigation:hover
{
		background-color: #555555;
}

.effect{
	position: absolute;
	width: 110px;
	height: 110px;
	background-color: white;
	border-radius: 50%;
	transition: all 0.4s;
	
}
.effect:hover{
	transform: scale(0.9, 0.9);
}


.box-1{
	transform: translate(198px, -198px);
	font: "微软雅黑";
	font-size: 1.8em;
}

.box-2{
	transform: translate(0px, -280px);
	font: "微软雅黑";
	font-size: 2em;
}

.box-3{
	transform: translate(-198px, -198px);
	font: "微软雅黑";
	font-size: 1.8em;
}

.box-4{
	transform: translate(-280px, 0px);
	font: "微软雅黑";
	font-size: 1.8em;
}

.box-5{
	transform: translate(-198px, 198px);
	font: "微软雅黑";
	font-size: 2em;
}

.box-6{
	transform: translate(0px, 280px);
	font: "微软雅黑";
	font-size: 2em;
}

/*播放器功能按钮*/

.box-7{
	transform: translate(160px, 0px);
}

.box-8{
	transform: translate(139px, 80px);
}

.box-9{
	transform: translate(80px, 139px);
}

.box-10{
	transform: translate(0px, 160px);
}

.box-11{
	transform: translate(-160px, 0px);
}

.box-12{
	transform: translate(0px, -160px);
}


/*弹出框*/

.flip-container{
	position: relative;
	width: 700px;
	height: 700px;
	background:rgba(225, 225, 225, 0.3);
	left: -260px;
	top: -440px;
	display: none;
}

.special-wrap{
	position: relative;
	width: 400px;
	height: 600px;
	background-color: white;
	left: 150px;
	top: 30px;
	border-radius: 5px;
	
}

.special-name{
	width: 260px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0px;
	
}

.title{
	width: 100%;
	height: 60px;
	background-color: #000000;
	font: "微软雅黑";
	color: snow;
	font-size: 2.5em;
	line-height: 60px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.mana-title{
	width: 100%;
	height: 40px;
	background-color: #000000;
	font: "微软雅黑";
	color: snow;
	font-size: 1.5em;
	line-height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.scl-item{
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	position: relative;
}
tbody td{
	vertical-align: middle;
	
}

.page{
	width: 100%;
}

.close-flip{
	width: 20px;
	height: 20px;
	background-color: #AFD9EE;
	position: relative;
	margin-left: 680px;
	line-height: 20px;
	text-align: center;
	border-radius: 50px;
	opacity: 0.3;
	transition: opacity 0.3s;
	cursor: pointer;
}
.close-flip:hover{
	opacity: 1;
}


/*搜索框*/
.search-wrap{
	width: 100%;
	height: 60px;
}

.sr-style{
	position: relative;
	width: 300px;
	margin: auto;
	top: 13px;
}


.lst-title{
	margin-left: 10px;
}

.lst-create{
	margin-left:180px;
}

.lst-item{
	cursor: pointer;
}
/*

.test{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #1B6D85;
	top: -620px;
}




.close-create{
	width: 20px;
	height: 20px;
	line-height: 20px;
}
*/
.create-container{
	position: relative;
	width: 700px;
	height: 700px;
	background:rgba(225, 225, 225, 0.3);
	display: none;
	top: -620px;
	left: 1px;
}

.create-content{
	position: relative;
	width: 460px;
	height: 250px;
	background-color: #2AABD2;
	border-radius: 10px;
	top: 215px;
	left: 120px;
}

.create-title{
	height: 45px;
	font: "微软雅黑";
	font-size: 1.5em;
	color: snow;
	background-color: #000000;
	line-height: 45px;
	text-align: center;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.form-wrap{
	width: 460px;
	height:205px;
	background-color: white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	vertical-align: middle;
	position: relative;
	
}

.form-style{
	position: relative;
	width: 300px;
	margin: auto;
	top: 50px;
}

.form-btn{
	position: relative;
	width: 200px;
	margin: auto;
	top: 100px;
}

.play-btn{
	position:absolute;
	width: 50px;
	height: 50px;
	opacity: 0.3;
	top: 0px;
	left: 0px;
	transition: opacity 0.5s;
	cursor: pointer;
	font-size: 2.5em;
	line-height: 50px;
	text-align: center;
}

.play-btn:hover{
	opacity: 0.9;
}

.song-img{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
}
.song-img img{
	width: 100%;
}

.img-wrap{
	position: relative;
	width: 50px;
	height: 50px;
}

.add-song{
	position: absolute;
	height: 50px;
	top: 0px;
	font-size: 1.5em;
	line-height: 50px;
	text-align: center;
	font-weight: 100;
	cursor: pointer;
	color: #ADADAD;
	border: hidden;
}
.add-song:hover{
	color:black;
}

.spname-wrap{
	position: relative;
	font-size: 0.94em;
}

.del-lst{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	font-size: 1.5em;
	line-height: 50px;
	text-align: center;
	font-weight: 100;
	cursor: pointer;
	color: #ADADAD;
	border: hidden;
}

.del-lst:hover{
	color:#737373;
}

.lst-item{
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	position: relative;
}

.lst-wrap{
	position: relative;
	width: 50px;
	height: 50px;
}

.lst-img{
	position: relative;
	width: 50px;
	height: 50px;
}

.cont-lst{
	width: 700px;
	height: 700px;
	position:absolute;
	top: 0px;
	display: none;
}

.lst-cont{
	cursor: pointer;
}

.title-lst{
	border-bottom: 2px solid #E2E2E2;
	
}


.title-lst td{
	border-left: 2px solid #EFEFEF;
	background: linear-gradient(#FEFEFE, #F0F0F0);
}

.title-lst:first-child{
	border-left:hidden;
}

.opt-song{
	position: relative;
}

.opt-song-name{
	position: absolute;
}

.cont-opt{
	position: absolute;
	display: none;
}

.span-style{
	width: 25px;
	text-align: center;
	cursor: pointer;
	color: #9D9D9D;
}

.span-style:hover{
	color:#444444;
}

.collect-container{
	position: relative;
	width: 700px;
	height: 700px;
	background:rgba(225, 225, 225, 0.3);
	left: -260px;
	top: -1140px;
	display: none;
}

.col-title{
	width: 100%;
	height: 35px;
	background-color: #000000;
	font: "微软雅黑";
	color: snow;
	font-weight: bold;
	line-height: 35px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.scroll-dp{
	overflow-y: auto;
	height: 275px;
	width: 100%;
	border-bottom-left-radius: 5px;
}
.coll-wrap{
	position: relative;
	width: 500px;
	height: 300px;
	background-color: white;
	left: 100px;
	top: 150px;
	border-radius: 5px;
}

.player-play-pause{
	width: 180px;
	height:180px;
	position: relative;
}

.play{
	width: 180px;
	height:180px;
	position: absolute;
	background-color: white;
	padding-left: 60px;
	line-height: 180px;
	border-radius: 50%;
	font-size: 6.5em;
	cursor: pointer;
}

.play:hover{
	transform: ;	
}

.pause{
	width: 180px;
	height:180px;
	position: absolute;
	background-color: white;
	text-align: center;
	line-height: 180px;
	border-radius: 50%;
	font-size: 5.5em;
}

.ppstyle{
}

.play-lst{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color:#737373;
	border-radius: 50%;
	transition: all 0.4s;
	font-size: 1.5em;
}

.play-lst:hover{
	background-color:white;
}

.play-wrap{
	background-color: white;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	transition: transform 0.3s;
}

.play-wrap:hover{
	transform: scale(0.8, 0.8);
}

.plist-container{
	position: relative;
	width: 700px;
	height: 700px;
	background:rgba(225, 225, 225, 0.3);
	left: -260px;
	top: -440px;
	display: none;	
}

.special-cnt{
	height: 540px;
	overflow-y: auto;
	border-bottom-left-radius: 5px;
}

.new-song-cnt{
	height: 540px;
	overflow-y: auto;
	border-bottom-left-radius: 5px;
}

.play-cnt-wrap{
	height: 540px;
	overflow-y: auto;
	border-bottom-left-radius: 5px;
}

.play-process-wrap{
	position: relative;
	width: 400px;
	height: 200px;
	left: 150px;
	top: 240px;
	border-radius: 5px;
}
.pro-cont{
	position: relative;
	top: 80px;
}
.player-effect{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color:#737373;
	border-radius: 50%;
	transition: all 0.4s;
	font-size: 1.7em;
}

.player-effect:hover{
	background-color:white;
}

.vol{
	background-color: white;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	transition: transform 0.3s;
}

.vol:hover{
	transform: scale(0.8, 0.8);
}

.play-order{
	background-color: white;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	transition: transform 0.3s;
}

.play-order:hover{
	transform: scale(0.8, 0.8);
}
.play-before{
	background-color: white;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	transition: transform 0.3s;
}
.play-before:hover{
	transform: scale(0.8, 0.8);
	
}
.play-after{
	background-color: white;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	transition: transform 0.3s;
}
.play-after:hover{
	transform: scale(0.8, 0.8);
}

.tab-style{
	font-size: 0.9em;
	font-weight: 100;
}

.search-name{
	width: 100px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0px;
}
.play-pro{
	color: white;
	font-size: 0.9em;
    line-height: 60px;
}

.player-effect-pro{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color:#737373;
	border-radius: 50%;
}
